//start header

.header {
  margin-bottom: 71px;
  position: relative;
  &:after {
    content: "";
    z-index: -1;
    position: absolute;
    right: 0;
    top: 0;
    background: -webkit-linear-gradient(212deg, #B4D3D3, #D9E7E7);
    background: -o-linear-gradient(212deg, #B4D3D3, #D9E7E7);
    background: linear-gradient(238deg, #B4D3D3, #D9E7E7);
    width: 41%;
    height: 66%;
  }
  &__hidden {
    display: none;
  }
  &__box {
    position: relative;
  }
  &__heading {
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 27px 10px 0;
    width: 80%;
    margin: 0 auto 46px;
    &--fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 999;
      display: flex;
      background: rgba(255, 255, 255, 0.47);
    }
  }
  &__logo {
    margin-top: 1%;
  }
  &__fixed {
    margin-bottom: 0;
    align-items: center;
    padding: 10px 15px 10px 15px;
  }
  &__burger {
    background: transparent;
    border: none;
    padding: 0;
    color: #1a1a1d;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    opacity: 0.75;
    cursor: pointer;

  }
  &__phone {
    color: #1a1a1d;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
    text-decoration: none;
    &--fixed {
      margin-right: 10px;
      margin-bottom: 0;
      justify-content: space-around;
      width: 170px;
      display: flex;
      align-items: center;
    }
  }
  &__icon {
    margin-left: 11px;
  }
  &__call {
    padding: 12px 25px;
    height: 35px;
    box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.11);
    border: none;
  }
  &__link {
    color: #FFFFFF;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-400px);
    transition: .3s linear;
    opacity: 0;
    display: inline-block;
    &--first {
      transition: transform .6s, opacity 2s, -webkit-transform .6s;
    }
    &--two {
      transition: transform .9s, opacity 4s, -webkit-transform .9s;
    }
  }
  &__item {
    padding: 20px 0;
    min-width: 300px;
    transition: .3s linear;
  }
  &__menu {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 999;
    left: -100%;
    transition: 0.5s cubic-bezier(0.14, 0.61, 0.84, 0.78) 0.2s, background-color 0.3s cubic-bezier(0.14, 0.61, 0.84, 0.78) 0s;
  }
  &__list {
    display: flex;
    justify-content: center;
    padding-left: 12%;
    height: 100%;
    flex-direction: column;
    transition: 0.3s cubic-bezier(0.14, 0.61, 0.84, 0.78);
    background: black;
    width: 50%;
    box-sizing: border-box;
  }
  &__navbar {
    width: 20%;
    &--fixed {
      width: 35%;
    }
  }

  &__social {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 99;
  }
  &__sprite {
    background: url("../../img/social-sprite.svg") no-repeat;
    position: absolute;
    height: 14px;
    width: 14px;
    display: block;
    margin-bottom: 25px;
    cursor: pointer;
  }
  &__vkontakte {
    position: relative;
    background-position: 0 0;
  }
  &__instagram {
    position: relative;
    background-position: 0 -42px;
  }
  &__numeral {
    position: relative;
    height: auto;
    width: 8px;
  }
  &__number {
    color: #49494d;
    font-family: 'HelveticaNeue-CondensedBlack', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    position: absolute;
    top: 63%;
    transform: rotate(-90deg);

    &:after {
      content: "";
      position: absolute;
      border: solid 1px #1a1a1d;
      width: 28px;
      top: 5px;
      left: 47px;

    }
  }
  &__request {
    border: none;
    position: absolute;
    background: transparent;
    bottom: 0;
    left: 0;
    width: 189px;
    padding: 0;
    z-index: 99;
    box-shadow: -2px 3px 7px rgba(0, 0, 0, 0.11);
    &--arrow {
      width: 30%;
      text-align: center;
      box-shadow: none;
    }
    &--text {
      box-shadow: none;
    }
  }
  &__text {
    position: absolute;
    width: 90%;
    height: 100%;
    left: 12%;
    top: 0;
  }
  &__title {
    color: #1a1a1d;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -1.25px;
    white-space: pre-line;
    padding: 21% 0 4% 0;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: #ffffff;
      transition: left .3s;
      visibility: hidden;
    }

    &--first {
      &:after {
        content: "";
        position: absolute;
        left: 30%;
        top: 65%;
        width: 29px;
        height: 5px;
        background: #ffffff;
      }
    }
    &--two {
      &:after {
        content: "";
        position: absolute;
        left: 35%;
        top: 123%;
        width: 29px;
        height: 5px;
        background: #ffffff;
      }
    }
    &--three {
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 84%;
        width: 29px;
        height: 5px;
        background: #ffffff;
      }
    }
    &--fo {
      &:after {
        content: "";
        position: absolute;
        left: 42%;
        top: 64%;
        width: 29px;
        height: 5px;
        background: #ffffff;
      }
    }
  }
  &__image {
    max-height: 409px;
  }
  &__wrap {
    width: 100%;
    //height: (calc(100% - 254px));
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: #ffffff;
      transition: left .5s;
      z-index: 99;
      display: none;
    }
  }
  &__info {
    width: 75%;
    opacity: 0.75;
    color: #1a1a1d;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
  }
  //&__animate:before {
  //  left: 0;
  //  visibility: visible;
  //}
  //&__active:before {
  //  transition: left 0.7s;
  //  transition-delay: 1.5s;
  //  left: -100%;
  //}
  &__content {
    width: 87%;
  }
  &__inner {
    padding-left: 15%;
    width: 70%;
    position: relative;
    &:before {
      left: -100%;
      transition: left .5s;
    }
  }
  &__close {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 60px;
    left: 60px;
    transition: .3s linear;
    border: none;
    background: transparent;
    font-family: 'HelveticaNeue-CondensedBlack', sans-serif;
  }
  &__wrapper {
    height: auto;
    background: radial-gradient(31.66% 31.66% at 24.88% 66.67%, #F3EEF2 0%, #F6F3F6 100%);
  }
  &__holder {
    width: 50%;
  }
  &__dots {
    right: -9px;
    bottom: 10%;
    width: 90px;
    display: flex;
    flex-direction: column;
  }

}

.header__menu.header__open .header__link {
  opacity: 1;
  transform: translateX(0);
}

.header__actives {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #ffffff;

  }
}

.header__open {
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.5s, background-color 0.3s cubic-bezier(0.14, 0.61, 0.84, 0.78) 0.5s;
}

.dots li {
  margin-bottom: 6px;
}

.dots li button {
  opacity: 0.5;
  color: #49494d;
  font-family: 'HelveticaNeue-CondensedBlack', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
}

.dots li button:before {
  font-family: 'HelveticaNeue-CondensedBlack', sans-serif;
}

.dots li.slick-active button,
&:before {
  opacity: 1;

}

.dots li button:hover:before {
  content: "";
}

.dots li.slick-active button:before {
  content: "";
  position: absolute;
  border-bottom: solid 1px #1a1a1d;
  width: 28px;
  top: -8px;
  left: 65px;
}

.header__content .header__slider {
  margin-bottom: 0;
}

//finish header

//start about
.about {
  margin-bottom: 73px;
  position: relative;
  &:after {
    content: "Rodnya";
    opacity: 0.1;
    z-index: -1;
    position: absolute;
    top: 25px;
    right: 28px;
    color: #b4d3d3;
    font-family: 'Montserrat', sans-serif;
    font-size: 110px;
    font-weight: 900;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -2.2px;
  }
  &__picture {
    width: 41%;
  }
  &__wrap {
    width: 58%;
    box-sizing: border-box;
    padding-left: 60px;
  }
  &__list {
    margin-bottom: 37px;
  }
  &__item {
    margin-right: 29px;
    color: #1a1a1d;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    opacity: 0.75;
    text-decoration: none;
    cursor: pointer;
    &--active {
      border-bottom: solid 1px #545456
    }
  }
  &__text {
    color: #49494d;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 20px;
    &--inner {
      margin-bottom: 77px;
    }
  }
  &__paragraph:first-letter {
    padding: 4% 1% 1% 0;
    float: left;
    font-size: 50px;
  }
  &__indentation {
    margin-bottom: 47px;
  }
  &__inner {
    margin-bottom: 24px;

  }
  &__name {
    font-weight: 600;
    display: block;
    margin-bottom: 0;
  }
  &__info {
    color: #49494d;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 24px;
    display: block;
  }
  &__button {
    width: 188px;
    &:not(:last-child) {
      margin-right: 5%;
    }
  }
  &__tabs {
    display: none;
    &--current {
      display: inherit;
    }
  }
}

//finish about

//trust

.trust {
  margin-bottom: 70px;
  position: relative;
  padding-right: 26px;
  box-sizing: border-box;
  &:after {
    content: "Плюсы";
    opacity: 0.1;
    z-index: -1;
    position: absolute;
    top: 15px;
    right: 20px;
    color: #b4d3d3;
    font-family: 'Montserrat', sans-serif;
    font-size: 110px;
    font-weight: 900;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -2.2px;
  }
  &__title {
    text-align: center;
  }
  &__wrap {
    justify-content: space-between;
  }
  &__element {
    width: 33%;
  }
  &__element:not(:last-child) {
    margin-right: 18px;
  }
  &__name {
    color: #1a1a1d;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
  }
  &__text {
    color: #49494d;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: -1px;
  }
  &__image--visible {
    display: none;
  }
  &__inner {
    margin-bottom: 10px;
  }
}

//finish trust

//start projects

.projects {
  position: relative;
  margin-bottom: 75px;
  padding-right: 22px;
  box-sizing: border-box;

  &:after {
    content: "Проекты";
    opacity: 0.1;
    z-index: -1;
    position: absolute;
    top: 30px;
    text-align: center;
    width: 100%;
    color: #b4d3d3;
    font-family: 'Montserrat', sans-serif;
    font-size: 110px;
    font-weight: 900;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -2.2px;
  }
  &__title {
    text-align: center;
    margin-bottom: 45px;

  }
  &__item {
    text-decoration: none;
    margin-bottom: 20px;
    position: relative;
    &--inner {
      width: 49%;
    }
  }
  &__wrap {
    background: linear-gradient(7deg, #B4D3D3, #D9E7E7);
    z-index: 99;
    padding: 24px 25px;
    width: 45%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  &__icon {
    margin-bottom: 19px;
  }
  &__name {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    display: block;
    margin-bottom: 6px;
    text-decoration: none;
    &--inner {
      margin-bottom: 0;
    }
  }
  &__data {
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    opacity: 0.7;
  }
  &__color {
    color: #1a1a1d;
  }
  &__indentation {
    margin-bottom: 8px;
  }

  &__picture {
    position: relative;
  }
  &__image {
    max-width: 100%;
    width: 100%;
    display: block;
    margin: 0;
  }
  &__inner {
    width: 72%;
    margin-right: 20px;
  }
  &__wrapper {
    justify-content: space-between;
    margin-bottom: 2px;
  }
  &__button {
    width: 290px;
    margin: 0 auto;
    padding: 22px 39px;
    justify-content: space-around;
    text-decoration: none;
  }
  &__album {
    opacity: 0;
    border: solid 1px #b4d3d3;
    background: #ffffff;
    box-shadow: -2px 3px 7px rgba(0, 0, 0, 0.11);
    color: #649595;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    position: absolute;
    top: 43%;
    right: 17%;
    padding: 7%;
    width: 189px;
    text-decoration: none;
    display: block;
  }
  &__pause {
    border: none;
    background: transparent;
    opacity: 0;
    position: absolute;
    top: 22%;
    right: 49%;
    width: 72px;
    height: 72px;
    &--two {
      width: 108px;
      height: 108px;
      top: 38%;
      right: 35%;
    }
    &--three {
      width: 42px;
      height: 43px;
    }
  }
  &__all {
    border: none;
    display: block;
    text-decoration: none;
    background: transparent;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    align-items: center;
    position: absolute;
    bottom: 11%;
    left: 7%;
    z-index: 99;
    justify-content: space-between;
    width: 181px;
  }
}

.projects__item--one:hover:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(223.15deg, rgba(180, 211, 211, 0.835003) 58.14%, #D9E7E7 97.33%);

}

.projects__item--one:hover .projects__picture .projects__album {
  opacity: 1;
  z-index: 99;
}

.projects__item--two:hover .projects__picture:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(223.15deg, rgba(180, 211, 211, 0.835003) 58.14%, #D9E7E7 97.33%);

}

.projects__item--two:hover .projects__pause {
  opacity: 1;
  z-index: 99;
}

.projects__item--three:hover .projects__picture:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(223.15deg, rgba(180, 211, 211, 0.835003) 58.14%, #D9E7E7 97.33%);

}

//finish projects

//start services

.services {
  position: relative;
  padding-bottom: 74px;
  margin-bottom: 75px;
  padding-right: 22px;
  box-sizing: border-box;
  &:after {
    content: "Услуги";
    opacity: 0.4532924;
    z-index: 99;
    position: absolute;
    top: 60px;
    right: 46%;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 110px;
    font-weight: 900;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -2.2px;
  }
  &__title {
    text-align: center;
    margin-bottom: 45px;
  }
  &__info {
    background: #ffffff;
    padding: 55px 49px 28px;
    width: 46%;
    height: 100%;
    align-self: flex-start;
  }
  &__subtitle {
    color: #1a1a1d;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.9375px;
    margin-bottom: 19px;
  }
  &__text {
    color: #49494d;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 30px;
  }
  &__name {
    color: #1a1a1d;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    opacity: 0.75;
    display: block;
  }
  &__price {
    color: #49494d;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    display: block;
  }
  &__picture {
    position: relative;
    width: 45%;
    align-self: flex-start;
  }
  &__wrap {
    background: rgba(255, 255, 255, 0.78);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 39px 32px 32px;
    box-sizing: border-box;
  }
  &__numeral {
    width: 7%;
    height: 97px;
  }
  &__number {
    top: 18%;
    left: 3px;
    &:after {
      top: 4px;
    }
  }
  &__button {
    width: 186px;
    justify-content: space-around;
  }
  &__element {
    align-items: center;
  }
  &__dots {
    display: flex;
    flex-direction: column;
    left: 53%;
    bottom: -5px;
    width: 80px;
  }
  &__arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90px;
    height: 118px;
    background: #ffffff;
    box-sizing: border-box;
  }
  &__prev {
    transform: rotate(-90deg);
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  &__next {
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    cursor: pointer;
  }
  &__wrapper {
    width: 92%;
  }
  &__box {
    position: relative;
  }
}

.services .services__slider {
  margin-bottom: 0;
}

.services__dots li.slick-active button:before {
  left: -69px;
}

//finish services

//start stages

.stages {
  position: relative;
  margin-bottom: 75px;
  padding-right: 19px;
  box-sizing: border-box;
  &:after {
    content: "Этапы";
    opacity: 0.1;
    z-index: -1;
    position: absolute;
    top: 30px;
    left: 0;
    color: #b4d3d3;
    font-family: 'Montserrat', sans-serif;
    font-size: 110px;
    font-weight: 900;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -2.2px;
  }
  &__title {
    text-align: center;
    margin-bottom: 45px;
  }
  &__number {
    color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: -2.5px;
  }
  &__name {
    opacity: 0.75;
    color: #1a1a1d;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
  }
  &__text {
    color: #49494d;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
  }
  &__box {
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__info {
    width: 77%;
  }
  &__inner {
    margin-bottom: 36px;
    justify-content: space-between;
  }
  &__picture {
    width: 42%;
    padding-right: 7px;
  }
  &__wrap {
    width: 53%;
  }
}

// finish stages

//start reviews

.reviews {
  position: relative;
  margin-bottom: 121px;
  padding-right: 18px;
  box-sizing: border-box;
  &:after {
    content: "Отзывы";
    opacity: 0.1;
    z-index: 1;
    position: absolute;
    top: 55px;
    right: 25px;
    color: #b4d3d3;
    font-family: 'Montserrat', sans-serif;
    font-size: 110px;
    font-weight: 900;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -2.2px;
  }
  &__title {
    text-align: center;
    margin-bottom: 0;
  }
  &__name {
    opacity: 0.75;
    color: #1a1a1d;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    display: block
  }
  &__data {
    opacity: 0.75;
    color: #1a1a1d;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
    display: block;
  }
  &__text {
    color: #49494d;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding-right: 15px;
    &:first-letter {
      padding: 2% 0 1% 0;
      float: left;
      font-size: 50px;
    }
  }
  &__icon {
    width: 34px;
    height: 34px;
    background-size: cover;
    margin-right: 8px;
  }
  &__instagram {
    background-position: 0 -102px;
  }
  &__info {
    width: 68%;
    padding-top: 45px;
  }
  &__picture {
    width: 30%;
    padding-top: 45px;
    padding-right: 20px;
  }
  &__image {
    max-width: 100%;
    display: block;
    margin: 0;
  }

  &__inner {
    margin-right: 4%;
  }
  &__numeral {
    margin-left: auto;
    width: 6%;
    display: flex;
    align-items: center;
  }
  &__wrap {
    background: linear-gradient(238deg, #B4D3D3, #D9E7E7);
    height: 75px;
    width: 118px;
    position: absolute;
    left: 17%;
    top: 80%;
  }
  &__number {
    top: 45%;
    right: 17px;
  }
  &__number:after {
    top: 5px;
    left: 45px;
  }
  &__dots {
    width: 157px;
    left: -11px;
    bottom: 10%;
  }
  &__button {
    position: absolute;
    bottom: -21px;
    left: 17%;
    height: 75px;
    width: 118px;
    box-sizing: border-box;
    background: linear-gradient(248.03deg, #B4D3D3 8.66%, #D9E7E7 94.48%);
  }
  &__prev {
    transform: rotate(180deg);
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  &__next {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  &__box {
    position: relative;
  }

}

.reviews__dots li {
  margin: 0 2px;
}

.reviews__dots li button:before {
  transform: rotate(90deg);
}

.reviews__dots li.slick-active button:before {
  top: 41px;
  left: 5px;
}

.reviews .reviews__slider {
  margin-bottom: 0;
}

//finish reviews

//start subscribe

.subscribe {
  position: relative;
  margin-bottom: 137px;
  &:after {
    content: "аккаунт";
    opacity: 0.4532924;
    z-index: 99;
    position: absolute;
    top: -24px;
    right: 28%;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 110px;
    font-weight: 900;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -2.2px;
  }
  &__title {
    line-height: 37px;
    margin-bottom: 2px;

  }
  &__text {
    opacity: 0.75;
    color: #1a1a1d;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 22px;
    width: 83%;
  }
  &__list {
    color: #49494d;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;

  }
  &__link {
    color: #1a1a1d;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6875px;
    text-decoration: none;
    margin-bottom: 29px;
    display: block;
  }
  &__icon {
    margin-right: 4px;
  }
  &__picture {
    width: 76%;
  }
  &__image {
    max-width: 100%;
    display: block;
    margin: 0;
  }
  &__info {
    padding: 61px 0;
  }
  &__item {
    margin-bottom: 23px;
    padding-left: 40px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      border: solid 1px #1a1a1d;
      width: 28px;
      left: 0;
      top: 13px;
    }
  }
}

//finish subscribe

//start contacts

.contacts {
  position: relative;
  margin-bottom: 30px;
  &:after {
    content: "Контакты";
    opacity: 0.1;
    z-index: -1;
    position: absolute;
    top: -25px;
    right: 3%;
    color: #b4d3d3;
    font-family: 'Montserrat', sans-serif;
    font-size: 110px;
    font-weight: 900;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -2.2px;
  }
  &__wrap {
    width: 60%;
  }
  &__inner {
    padding: 0 0 0 6%;
    margin-bottom: 30px;
  }
  &__logo {
    margin-bottom: 32px;
    display: block;
    padding-left: 6px;

  }
  &__text {
    color: #49494d;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 55px;
  }
  &__paragraph {
    margin-bottom: 25px;
    width: 97%;
  }
  &__paragraph:first-letter {
    float: left;
    padding: 3% 1% 1% 0;
    font-size: 50px;
  }
  &__link {
    color: #1a1a1d;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    text-decoration: none;
    display: block;
  }
  &__sprite {
    background: url(../../img/social-sprite.svg) no-repeat;
    position: absolute;
    height: 14px;
    width: 14px;
    display: block;
  }
  &__box {
    justify-content: space-between;
    align-items: flex-start;
    width: 88%;
  }
  &__image {
    max-height: 504px;
  }
  &__item {
    width: 42%;
    margin-bottom: 27px;
    align-items: center;
    &--first {
      width: 38%;
      align-items: flex-start;
    }
    &--two {
      width: 53%;
    }
    &--fo {
      width: 53%;
    }
  }
  &__icon {
    margin-right: 17px;
  }
  &__social {
    width: 20px;
    height: 14px;
  }
  &__telephone {
    width: 37%;
    justify-content: flex-start;
    padding: 19px 17px;
    border: solid 1px rgba(180, 211, 211, 0.23);
    box-shadow: inset 0px -6px8px rgba(180, 211, 211, 0.25);
  }
  &__meeting {
    width: 58%;
    padding: 22px 3% 22px 12%;
    &--icon {
      margin-left: 13px;
    }
  }
  &__wrapper {
    justify-content: space-around;
    padding: 0 3%;
  }
  &__picture {
    width: 39%
  }
}