@import "mixin";
@import "modal";
@import "home";
@import "project";

@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/HelveticaLight.eot");
  src: url("../../fonts/HelveticaLight.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/HelveticaLight.woff") format("woff"),
  url("../../fonts/HelveticaLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: '"HelveticaNeue-CondensedBlack';
  src: url('../../fonts/HelveticaNeueCondensedBlack.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.slick-arrow {
  visibility: hidden;
}

//media
@media screen and (max-width: 1200px) {
  .content-wrapper {
    background-position: bottom right;
  }

  .reviews__arrow {
    bottom: 0;
  }

  .reviews__dots {
    bottom: 15%;
  }
}

@media screen and (max-width: 992px) {
  .header__title {
    font-size: 30px;
    padding: 3% 0 3% 0;
  }

  .header__inner {
    padding-left: 10%;
  }

  .header__info {
    width: 85%;
  }

  .contacts__telephone,
  .contacts__meeting {
    width: 200px;
    margin-bottom: 10px;
  }

  .contacts__box,
  .contacts__wrapper {
    flex-direction: column;
  }

  .contacts__item {
    width: 100%;
  }

  .services:after {
    right: 42%;
  }

  .modal__info {
    width: 300px;
    padding: 40px 15px;
  }

  .reviews__dots {
    bottom: 30%;
  }

  .reviews__prev {
    left: 0;
  }

  .reviews__next {
    left: 7%;
  }

  .projects__box {
    flex-direction: column;
  }

  .projects__inner {
    width: 100%;
    margin-right: 0;
  }

  .projects__wrap {
    width: 52%;
  }

  .projects__thumbnail {
    width: 30%;
  }

  .gallery__picture {
    width: 50%;
  }

  .gallery__dots {
    top: 650px;
  }

  .header__title--first:after,
  .header__title--two:after,
  .header__title--three:after,
  .header__title--fo:after {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .title {
    text-align: center;
  }

  .header__list {
    width: 80%;
  }

  .header__call {
    padding: 8px;
  }

  .header:after {
    height: 37%;
  }

  .header__wrapper {
    padding: 10px;
    box-sizing: border-box;
  }

  .header__inner {
    padding-left: 5%;
    width: 95%;
  }

  .header__text {
    position: static;
    width: 100%;
  }

  .header__title {
    padding: 0 0 3% 0;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  .header__request {
    position: static;
    margin: 0 auto;
  }

  .header__info {
    width: 100%;
  }

  .header__wrap {
    height: auto;
  }

  .about__wrapper {
    flex-direction: column;
  }

  .about__picture {
    width: 40%;
    margin: 0 auto 20px;
  }

  .about__wrap {
    width: 100%;
  }

  .about__list {
    justify-content: center;
  }

  .trust__wrap {
    flex-wrap: wrap;
  }

  .trust__element {
    width: 100%;
    margin-bottom: 20px;
  }

  .trust__image {
    display: none;
  }

  .trust__image--visible {
    display: block;
  }

  .trust__picture {
    margin-bottom: 20px;
  }

  .contacts__element {
    flex-direction: column;
  }

  .contacts__inner {
    padding: 0;
  }

  .contacts__wrap {
    width: 100%;
  }

  .contacts__picture {
    width: 85%;
    margin: 0 auto 20px;
  }

  .subscribe__wrapper {
    flex-direction: column;
  }

  .subscribe__info {
    width: 100%;
  }

  .subscribe__picture {
    width: 100%;
  }

  .stages__inner {
    flex-direction: column;
  }

  .stages__picture {
    width: 80%;
    margin: 0 auto 20px;
  }

  .stages__wrap {
    width: 100%;
  }

  .projects:after,
  .trust:after,
  .about:after,
  .services:after,
  .stages:after,
  .reviews:after,
  .subscribe:after,
  .contacts:after,
  .gallery:after {
    font-size: 50px;
  }

  .modal__picture {
    width: 35%;
  }

  .modal__info {
    padding: 15px 15px;
  }

  .overlay {
    padding: 0;

  }

  .modal__text {
    margin-bottom: 10px;
  }

  .modal__picture {
    display: none;
  }

  .modal__form {
    width: 100%;
  }

  .modal__title {
    text-align: left;
  }

  .close-modal {
    top: 10px;
    right: 10px;
  }

  .services__wrapper {
    flex-direction: column;
  }

  .services__info {
    width: 85%;
  }

  .reviews__wrapper {
    flex-direction: column;
  }

  .reviews__info {
    width: 100%;
    padding-top: 20px;
  }

  .reviews__dots {
    bottom: -35px;
  }

  .reviews__arrow {
    bottom: -72px;
  }

  .reviews__prev {
    left: 58%;
  }

  .reviews__next {
    left: 80%;
  }

  .projects__thumbnail {
    width: 50%;
  }

  .gallery__picture {
    width: 100%;
  }

  .gallery__album {
    width: 52%;
  }
}

@media screen and (max-width: 576px) {
  .header:after {
    background: none;
  }

  .header__list {
    width: 100%;
  }

  .header__dots {
    bottom: 15%;
  }

  .header__inner {
    flex-direction: column;
  }

  .header__holder {
    margin: 0 0 15px;
  }

  .header__wrapper {
    width: 100%;
  }

  .header__heading {
    padding: 10px 0;
    margin-bottom: 10px;
  }

  .header__logo {
    width: 45%;
  }

  .header__call {
    display: none;
  }

  .header__phone {
    text-align: center;
  }

  .header__phone--number {
    display: none;
  }

  .about__box {
    flex-direction: column;
    justify-content: center;
  }

  .about__button {
    margin-bottom: 20px;
  }

  .about__picture {
    width: 80%;
  }

  .services__info {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  .services__picture {
    width: 100%;
  }

  .services__subtitle {
    font-size: 20px;
    text-align: center;
  }

  .services__slider {
    flex-direction: column;
  }

  .swiper-container.services__container {
    height: 654px;
  }

  .services__container > .swiper-pagination.swiper-pagination-bullets {
    display: none;
  }

  .services__container .swiper-button-prev {
    top: 80%;
  }

  .services__container .swiper-button-next {
    top: 89%;
  }

  .stages__box {
    flex-direction: column;
  }

  .stages__info {
    width: 100%;
    text-align: center;
  }

  .stages__number {
    margin: 0 auto;
  }

  .reviews__slider {
    flex-direction: column;
  }

  .reviews__picture {
    width: 100%;
    padding-top: 0;
  }

  .reviews__info {
    width: 100%;
    padding-top: 0;
  }

  .reviews__numeral {
    display: none;
  }

  .projects__button {
    width: 85%;
  }

  .projects__wrapper {
    flex-direction: column;
  }

  .projects__item--inner {
    width: 100%;
  }

  .projects__item--one {
    flex-direction: column;
  }

  .projects__wrap {
    width: 100%;
    box-sizing: border-box;
  }

  .projects__thumbnail {
    width: 100%;
  }

  .gallery__wrap {
    flex-direction: column;
  }

  .gallery__album {
    width: 100%;
  }
}